body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }

h2 {
    color: #000000;
  }

form {
    background-color: #e4d1f1;
    border: 1px solid #81048c;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

label {
    font-weight: bold;
  }

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ef00e7;
    border-radius: 1px;
    align-items: center;
  }

input[type="submit"] {
    background-color: #087ee5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
  }

input[type="submit"]:hover {
    background-color: #0a7104;
  }